.biography_list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px; 
  }
  
  .biography_list article{
    background: #FFF;
    border: 2px solid #DDD;
    border-radius: 5px;
    padding: 20px; 
    margin-bottom: 15px;
  }
  
  .biography_description{
    font-size: 18px;
    color:#1b4332;
    margin-top: 10px;
    line-height: 24px;
  }
  
  
  .biography_list article a{
    height: 40px;
    border-radius: 10px;
    border: 2px solid #1a936f;
    color: #114b5f;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }

  .biography_list article a:hover{
      background-color:#1a936f;
      color: white;
  }